<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark primary-color scrolling-navbar" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" href="#">
            <i class="fa fa-wrench"></i>
            <strong>{{title}}</strong>
        </a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" routerLink="./components/constellation-list">所有英雄</a>
            </li>
        </ul>
    </links>
</mdb-navbar>
<main>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</main>