<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark elegant-color scrolling-navbar" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" href="#">
            <i class="fa fa-wrench"></i>
            <strong>{{title}}</strong>
        </a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" routerLink="/constellation-list">所有星座</a>
            </li>
        </ul>
    </links>
</mdb-navbar>
<main>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
   
</main>

<footer class="page-footer font-small elegant-color  ">
    <div class="footer-copyright text-center py-3">2019.1 学习来自:
        <a href="https://qige.io/" target="_blank"> 棋歌教学网</a>
    </div>
</footer>

